div.ui.segments.collapsedSegment {
  position: absolute;
  right: -15rem;
  top: 2.45rem;
  width: 15rem;
  transition: right;
  transition-duration: 1.5s;
}

div.ui.segments.uncollapsedSegment {
  position: absolute;
  right: 0rem;
  transition: right;
  transition-duration: 1.5s;
}

div.uncollapsed {
  position: absolute;
  right: 13.5rem;
  transition: right, color, transform;
  transition-duration: 1.5s;
  color: grey;
  transform: rotateY(180deg);
}

div.collapsed {
  position: absolute;
  right: 0rem;
  color: black;
  transition: right, color, transform;
  transition-duration: 1.5s;
}

div.colorGrid {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  left: 1.25rem;

  position: relative;
}
